{% extends "base.html" %}

{% block content %}


<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Product Name</th>
      <th scope="col">Price</th>
      <th scope="col">Category</th>
      <th scope="col">Description</th>\
      <th scope="col">Image</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">{{product.name}}</th>
      <td>{{product.price}}</td>
      <td>{{product.category}}</td>
      <td>{{product.description}}</td>
      <td><img src={{product.image}} style="height:200px; width: 300px;"></td>
    </tr>
  </tbody>
</table>

<!-- get list + summary -->
  
  <table class='table table-hover table-bordered container'>
    <thead class = 'thead-dark'>
      <tr>
        <th scope = "col">Average Rating</th>
        <th scope = "col">Number of Reviews</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope = "row">{{average}}</th>
        <th scope = "row">{{count}}</th>
      </tr>
    </tbody>
    </table>

    <table class='table table-hover table-bordered container'>
      <thead class="thead-dark">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">UID</th>
          <th scope="col">PID</th>
          <th scope="col">Review</th>
          <th scope="col">Stars</th>
          <th scope="col">Time Reviewed</th>
        </tr>
      </thead>
      <tbody>
        {% for review in feedback%}
          <tr>
            <th scope="row">{{review.id}}</th>
            <td>{{review.uid}}</td>
            <td>{{review.pid}}</td>
            <td>{{review.review}}</td>
            <td>{{review.stars}}</td>
            <td>{{review.time_reviewed}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>


    {% endblock %}